.title-center {
  flex: 1 1 auto;
  font-size: 20px;
  justify-content: center;
  /* text-align: center; */
 
} 
.bgcol{
    background-color:rgb(201, 196, 196);
}
.field{
  width: 200px;
}
.value{
  width: 400px;
}
.candidateProfile{
  font-weight: 120px;
  font-size: 20px;
}
.row-card{
  width: 80%;
  align-self: center;
}
h1{
  margin-top: 10px;
}

img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.initials-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-size: cover;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 0.2625px;
}
mat-card-title{
  padding-top: 7px;
}
.example-card{
  max-width: 300px;
  margin-top: 10px;
}