
<footer fxLayoutAlign.lt-md="center">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly">
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <div></div>
            <h2 fxFlexAlign="center"><strong>JobHeist</strong></h2>
            <div fxFlexAlign="center">
                <h3>2010-2020 &copy;</h3>
                <a href="">Privacy-Terms</a>
            </div>
            <div></div>
            
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <div></div>
            <h3 fxFlexAlign="center"><strong>Products</strong></h3>
            <div fxFlexAlign="center">
                <a href="">Search</a><br>
                <a href="">Counselling</a><br>
                <a href="">Advice</a><br>
                <a href="">Alerts</a><br>
            </div>
            <div></div>
            
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <div></div>
            <h3 fxFlexAlign="center"><strong>Others</strong></h3>
            <div fxFlexAlign="center">
                <a href="">Feedbacks</a><br>
                <a href="">Career</a><br>
                <a href="">Sitemap</a><br>
                <a href="">Resources</a><br>
            </div>
            <div></div>
            
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <div></div>
            <h3 fxFlexAlign="center"><strong>Legality</strong></h3>
            <div fxFlexAlign="center">
                <a href="">Fraud</a><br>
                <a href="">Notices</a><br>
                <a href="">Safety</a><br>
                <a href="">Complaints</a><br>
            </div>
            <div></div>
            
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <div></div>
            <h3 fxFlexAlign="center"><strong>Follow us on</strong></h3>
            <div fxFlexAlign="center">
                <a href="">Linkedin</a><br>
                <a href="">Facebook</a><br>
                <a href="">Twitter</a><br>
                <a href="">Instagram</a><br>
            </div>
            <div></div>
            
        </div>
    </div>
</footer>
